.footer {
    background-color: $accent-color;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    text-align: center;

    /*@media screen and (min-width:1200px){
    flex-direction: row;
    align-items: baseline;
    gap: 93px;
    text-align: left;
    }*/
}

.contact-list {
    font-style: normal;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-list__link {
    text-decoration: none;
    color: $primary-text-color;

    transition: color 250ms $animation-timing-function;

    &:hover, &:focus {
            color: $white;
        }
}

.accent-text {
    line-height: 1.14;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    display: block;
}

.socials__footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon {
    fill: $white;
}
