.header {
    background-color: $accent-color;
    border-bottom: 1px solid $white;
    position: fixed;
    top:0;
    width: 100vw;
}

.header__container{
    height: 60px;
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    @media screen and (min-width: 480px) {
            width: 480px;}

    @media screen and (min-width:768px) {
            width: 768px;}

    @media screen and (min-width:1200px) {
        width: 1200px;}

}

@media screen and (max-width:767px){
.menu-container {
    display: none;

    &.is-open {
        position: absolute;
        z-index: 2;
        display: inline-block;
        width: 60%;
        top: 0;
        right: 0;
        background-color: $white;
        padding: 20px 30px;
    }}
}

.nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: start;   
}

.nav__name {
    display: inline-block;
    font-size: 16px;
    padding: 12px;
    border-right: 1px solid rgba($secondary-bcg-color, $alpha: 1.0);
}

/*.menu-container {
    @media screen and (min-width:768px){
    display: flex;
    align-items: center;
    margin-left: 88px;
}
    @media screen and (min-width:1200px){
    margin-left: 93px;}
}  */

.btn-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

     @media screen and (min-width:768px){
        display: none;}
}

.btn-menu__icon {
    fill: $primary-text-color;}

.menu-container.is-open .btn-menu--open{
    display: none;}

.btn-menu--close {
    display: none;

    .menu-container.is-open &{
        display: block;
    }
}

.site-nav__list{
    display: flex;
    flex-direction: column;
}

.site-nav__products{
   display: block;
   text-decoration: none;
   font-size: 16px;
   color: $primary-text-color;
   padding: 10px 10px 10px 40px;

    transition: color 250ms $animation-timing-function;

    &:hover, &:focus{
        color: $accent-color;
    }
}

.site-nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: $primary-text-color;
    display: block;
    padding: 12px;

    transition: color 250ms $animation-timing-function;

    &:hover, &:focus{
        color: $accent-color;
    }
}

.site-nav__link--current {
    color: $accent-color-bright;
}
