$primary-text-color: #47291d;
$secondary-text-color: #2b2e3d;
$white: #FFFFFF;
$accent-color: #f47860;
$accent-color-bright: #e56059;
$secondary-bcg-color: #f2e2c9;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
